/*
* @Author: accord
* @Date:   2017-04-10 11:18:43
* @Last Modified by:   accord
* @Last Modified time: 2017-04-12 13:07:16
*/

.top_world_news{
	margin-top:29px;
}

.news_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.news_wrap img {
    width: 112px;
    height: 90px;
    margin-left: 11px;
}

.news_wrap div:nth-child(1)>div>img{
	margin-left:0;
}

.news_wrap div:nth-child(4)>div>img{
	margin-left:0;
}

.news_wrap .custom_card > h3 {
    width: 112px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:11px;
}

.news_wrap>div:nth-child(1)>.custom_card>h3{
    margin-left:0;
}

.news_wrap>div:nth-child(4)>.custom_card>h3{
    margin-left:0;
}

.news_wrap .custom_card > p {
    margin-left:11px;
}

.news_wrap>div:nth-child(1)>.custom_card>p{
    margin-left:0;
}

.news_wrap>div:nth-child(4)>.custom_card>p{
    margin-left:0;
}
